<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <div class="container"></div>
    
    <main>
        <h1>Text</h1>  
        <p>Text</p>

        <form method="post" th:action="@{/todoupdate}" th:object="${todo}">

          

          <div class="mb-3">
            <label class="form-label">ID</label>
            <input type="text" class="form-control" name="id" th:field="*{id}" placeholder="id">
        </div>

        <div class="alert alert-danger" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></div>



          <div class="mb-3">
              <label class="form-label">Name</label>
              <input type="text" class="form-control" name="name" th:field="*{name}" placeholder="name">
          </div>

          <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>



          <div class="mb-3">
            <label class="form-label">description</label>
            <input type="text" class="form-control" name="description" th:field="*{description}" placeholder="description">
        </div>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>



        <div class="mb-3">
          <label class="form-label">priority</label>
          <input type="text" class="form-control" name="priority" th:field="*{priority}" placeholder="priority">
      </div>
      <div class="alert alert-danger" th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}"></div>



          <div class="mb-3">
              <label class="form-label">dueDate</label>
              <input type="date" class="form-control" name="dueDate" th:field="*{dueDate}" placeholder="Insert Due Date">
          </div>
          <div class="alert alert-danger" th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}"></div>

          <button type="submit" class="btn btn-primary">Submit</button>
      </form>


        
    </main>
    <script src="index.js"></script>
  </body>
</html>